.MainForm {
    display: flex;
    flex-direction: column;
}



.PageHeader {
    background: #dea326;
}


.contents {
    height: 5rem;
    display: flex;
    padding: 3rem;
    align-items: center;
}
.LeftContents {

}

.RightContents {
    margin-left: auto;
}

.MenuButton {
    border: none;
    outline: none;
    background: #dea326;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;

}

    .MenuButton:hover {
        color: #868e96;
    }
    .MenuButton:active {
        color: white;
    }

.Logo {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    user-select: none;
}

a {
    text-decoration: none;
}





.SideBarWrapper {
    transform: translate(0%);
    transition: all 0.1s ease-in-out;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    background: #dea326;
    height: 100vh;
    width: 300px;
}

.SideBar {
}

.sideBarContents {
    display: flex;
    flex-direction: column;
}

.menu {
    padding: 1rem;
    user-select: none;
    cursor: pointer;
}

.text {
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}











.SeriesList {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.label {
    display: flex;
    align-items: center;
}


.left-label {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
}

.right-label {
    margin-left: auto;
    margin-right: 1rem;
    color: #91a7ff;
    cursor: pointer;
    user-select: none;
}

.ListWrapper {
    display: flex;
    white-space: no-wrap;
    overflow-x: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.list {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    background: white;
    width: 280px;
    height: 420px;
    padding: 1rem;
}

.thumbnail {
}

img {
    width: 250px;
    height: 350px;
}

.title {
    user-select: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding-left: 0.35rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

@media screen and (max-width: 1024px) {
    .SeriesList {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .SeriesList {
        width: 100%;
    }

    .list {
        width: 110px;
        height: 190px;
        padding: 0;
    }

    img {
        width: 110px;
        height: 150px;
    }

    .title {
        font-size: 0.75rem;
        font-weight: 600;
    }
}
